<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--Bootstrap -->
    <!-- <link rel="stylesheet" href="../bootstrap-5.0.1-dist/css/bootstrap.css">-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <button type="button" class=navbar-toggler></button>
                <ul class="navbar-nav mb-2 mb-lg-0 navbar-nav mr-auto">
                    <li class="nav-item active">
                        <b><a class="nav-link"  href="/listarProductos">Comprar</a></b>
                    </li>
                    <li th:if="${usuario == 'admin'}" class="nav-item active">
                        <b><a class="nav-link"  th:href="@{/ventas}">Ventas Realizadas</a></b>
                    </li>
                    <li th:if="${usuario == 'admin'}" class="nav-item active">
                        <b><a class="nav-link"  th:href="@{/controlProductos}">Administrar Productos</a></b>
                    </li>
                    <li class="nav-item active">
                        <b><a class="nav-link"  th:text="'Carrito(' + ${totalCarrito}+')'" th:href="@{/carrito}">0</a></b>
                    </li>

                </ul>
            </div>
        </nav>
    </header>

    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>


    <h3 align="center">CRUD Productos</h3>

    <div class="row">&nbsp;</div>
    <div class="row">&nbsp</div>
    <div class="row">&nbsp;</div>

    <form th:action="@{/controlProductos}" method="post">
        <div class="form-group">
            <label for="nombreProducto">Nombre</label>
            <input type="text" class="form-control" id="nombreProducto" th:value="${producto.id}" th:placeholder="${producto.id}">

            <label for="precioProducto">Precio</label>
            <input type="text" class="form-control" id="precioProducto" th:value="${producto.precio}" th:placeholder="${producto.precio}">
        </div>
    </form>



</body>
</html>