<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--Bootstrap -->
   <!-- <link rel="stylesheet" href="../bootstrap-5.0.1-dist/css/bootstrap.css">-->
     <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <button type="button" class=navbar-toggler></button>
                <ul class="navbar-nav mb-2 mb-lg-0 navbar-nav mr-auto">
                    <li class="nav-item active">
                        <b><a class="nav-link"  href="/listaProductos">Comprar</a></b>
                    </li>
                    <li class="nav-item active">
                        <b><a class="nav-link"  th:href="@{/ventas}">Ventas Realizadas</a></b>
                    </li>
                    <li class="nav-item active">
                        <b><a class="nav-link"  th:href="@{/controlProductos}">Administrar Productos</a></b>
                    </li>
                    <li class="nav-item active">
                        <b><a class="nav-link"  th:text="'Carrito(' + ${cantidadCarrito}+')'" th:href="@{/carrito}">0</a></b>
                    </li>

                </ul>
            </div>
        </nav>
    </header>

    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>

    <h3 class="h3" align="center">Carrito de compras</h3>

    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>

    <div class="row justify-content-center">
        <form style="width: 74%;" class="border border-secondary rounded"  th:action="@{/agregarProducto/crear}" method="post">
            <div class="row">&nbsp;</div>
            <div class="row">
                <div style="border-bottom: gray" class="col-12">
                    <h5 class="h5"><strong>Datos del Cliente</strong></h5>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12">
                    <label for="nombreCliente" class="form-label"><b>Nombre del Cliente:</b></label>
                    <input form="accion" type="text" id="nombreCliente"  class="form-control" name="nombreCliente" fullwidth required>
                </div>
            </div>
            <div class="row">&nbsp;</div>
        </form>
    </div>

    <div class="row">&nbsp;</div>

    <form id="accion"  th:action="@{carrito/comprar}" method="post">
    <table style="width: 75%; margin-left: auto; margin-right: auto" class="table table-hover table-bordered">
        <thead class="thead-light">
            <tr align="center">
                <th scope="col">Nombre</th>
                <th scope="col">Precio($RD)</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio Total($RD)</th>

                <th scope="col">Accion</th>
            </tr>
        </thead>
        <tbody  class="table-hover">
            <tr align="center" th:each="producto : ${productosCarrito}">
                <td th:text="${producto.nombre}">Pasola</td>
                <td th:text="${producto.getPrecio()}">1000</td>
                <td th:text="${producto.cantidad}" >1</td>
                <td th:text="${producto.getPrecioTotal()}">1000</td>
                <td align="center">
                    <button name="idProducto" th:value="${producto.id}" type="submit" class="btn-sm btn-danger">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row" >
        <div class="col-8"></div>

        <div class="col-3">

            <h5 th:text="'Total:   ' + ${totalCarrito}">Total</h5>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div style="text-align: center; margin-top: 20px;">
            <button name="procesarCompra"  type="submit" class="btn btn- btn-primary">Procesar Compra</button>
            <button name="limpiarCarrito" type="submit" th:action="@{/carrito/limpiar}" class="btn btn-secondary">Limpiar Carrito</button>
        </div>
    </div>
    </form>
</body>
</html>